html {
    height: 100%;
    width: 100%;
}    

body {
    height: 100%;
    width: 100%;
    color: #101010;
    font-family: Verdana, Arial;
    font-size: 16px;
    margin: 0;
    padding:0;
}

#main {
    display: table;
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.login_form {
    height: 100px;
    width: 480px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

#alert {
    border-radius: 7px;
    border: 1px solid #cccccc;
    background:#fffccc;
    padding:6px;  
    position:absolute;
    width:400px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -180px;
    display: none;
}

.alert_inner {
    width: 100%;
    height: 100%;
    text-align:center;
    display: table;
}

.alert_message{
    display: table-cell;
    vertical-align: middle;
    margin: 10px;
    text-align:center;
}

#error_message {
    color: #ff0000;
    margin-top: 20px;
    margin-left: 120px;
}

#language_selector {
    width: 100%;
    text-align: right; 
}

#form_title {
    font-size: 22px;
    margin-bottom: 20px;
}

.form_group {
    width: 480px;
    margin-bottom: 20px;
}

.form_label {
    float: left;
    text-align: right;
    width: 100px;
    margin-right: 20px;
    margin-top: 14px;   
}

.form_control {
    height: 34px;    
    width: 250px;
    padding: 4px;
    color: #101010;
    font-family: Verdana, Arial;
    font-size: 16px;
}

.form_submit {
    margin-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.form_input {
}

a {
    text-decoration: none;
}

a.a13px {
    font-size: 13px
}

a.form_button {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    user-select: none;
    background: rgb(212,75,56);
    padding: 10px 10px;
    outline: none;
}
 
a.form_button:hover { 
    background: rgb(232,95,76); 
}

a.form_button:active { 
    background: rgb(152,15,0); 
}
 
.terms_checkbox {
    width: 220px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 120px;
}

.form_file {
    margin-left: 120px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#filename {
    color: #bbb;
    font-size: 13px;
}
.welcome {
    padding: 50px;
}